body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 75px auto;
  min-height: 100vh;
  min-width: 100vw;
}

.item.first {
  background: red
}

.item.second {
  background: yellow
}

.item.third {
  background: blue
}

.item.fourth {
  background: green
}